#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;

  background: linear-gradient(0deg,#8e154d,#f9f6b0);
  background-size: 120% 120%;
  animation: gradient-animation 16s ease infinite;

}

* {
  user-select: none;
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  overflow: hidden;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 {
  font-family: 'Damion', cursive;
  color: #650b35;
  text-shadow: 0px 0px 60px 0px rgba(228, 172, 206, 0.904);
}

h2 {
  color: #fff;
}

.swipe {
  position: absolute;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative; /* Needed for absolute positioning within */
  /* width: 90vw;
  max-width: 260px;
  height: 300px; */
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 280px;
  height: 400px;
  /* box-shadow: 0px 0px 60px 0px rgba(171, 140, 152, 0.181); */
  border-radius: 20px;
  background-size: cover;
  background-position: center;

  /* stuff I added */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end;
  align-items: flex-start; */
  /* padding: 5px; */
}

.restContent  {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0;
  position: relative;
}

.transparentBlock {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 20px 20px;
  padding: 10px;
  height: 15%;
  width: 92.8%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


.card h3, p {
  /* position: relative; */
  /* bottom: 0; */
  /* margin: 10px; */
  margin: 0;
  padding: 1px;
  color: #000000;
}

.card h3 {
  font-size: 15px;
}

.card p {
  font-size: 11px;
}

.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  position: relative;
  bottom: 0; /* Position the buttons at the bottom of the cardContainer */
  left: 0; /* Align the buttons to the left of the cardContainer */
  right: 0; /* Align the buttons to the right of the cardContainer */
  display: flex;
  justify-content: center;
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  /* background-color: #9198e5; */
  background-color: #8e154d;
  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}
